.header {
    background: var(--navigation-header);
    box-shadow: var(--shadow);

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline: 2em;
    }

    ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: var(--navigation-gap)
    }

    li {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        background: var(--navigation-header);
        transition: background 0.2s ease;
        padding-inline: 0.2rem;
        padding-block: 0.5rem;
        border-radius: var(--border-radius);
    }

    a {
        text-decoration: none;
        color: var(--text);
        white-space: nowrap;
    }

    a.active {
        border-bottom: 1px var(--text) solid;
    }

    li:hover {
        background: color-mix(in oklab, var(--navigation-header), var(--page) 30%);
    }
}

.logo {
    width: 8rem;
    height: 8rem;
}

@media screen and (max-width: 590px) {
    .header {
        ul {
            flex-direction: column;
            gap: 0.2rem;
        }
    }
}