@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.spinner {
    animation: spin 2s linear infinite;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}